.bloque1{
   height: 33vh;
   width: 100vw;
   background-color: cornflowerblue;
}

.bloque2{
   text-align: center;
   height: 33vh;
   width: 100vw;
   background-color: white;
}

input, textarea, select, button {
    font-family: inherit;
    font-size: inherit;
}