body{
	background-color: black;
	color: white;
	font-family: 'Josefin Slab', serif;
	font-size: large;
	max-width: 1200px;
	margin: auto;
}

a{
	color: yellow;
}

img{
	max-width: 100%;
}

h1,h2,h3,h4{
	font-family: 'Orbitron', sans-serif;
	font-size:  xx-large;
	text-align: center;
}

h1,h2,h3,h4,h5,h6{
	color: yellow;
}

.textoArticulo{
	box-sizing: border-box;
	display: inline-block;
	width: 49%;
	padding: 10px;
}

.contenidoArticulo>img,video{
	box-sizing: border-box;
	display: inline-block;
	width: 49%;
}

form{
	padding:  20px;
	text-align: center;
}

.formGroup{
	display: inline-block;
	margin-right: 15px;
}

input{
	font-family: inherit;
	border: 0px;
	background-color: black;
	border-bottom: 1px solid white;
	color: white;
}

select{
	margin-left:  25px;
	font-family: inherit;
	font-size: large;
	min-width: 200px;
	padding:  5px;
}

input[type="file"]{
	border:  0px solid white;
	margin-left:  25px;
	font-family: inherit;
	font-size: large;
}

label{
	margin-bottom: 5px;
	display: inline-block;
}

.formRow{
	margin-bottom: 20px;
}

button[type="submit"]{
	background-color: yellow;
	border: 0px solid black;
	font-weight: bolder;
	font-family:  'Orbitron', sans-serif;
	font-size: x-large;
	
	width: 300px;
}

table{
	border-collapse: collapse;
	font-family:  'Orbitron', sans-serif;
}

td,th{
	padding: 10px 20px;
	border: 1px solid white;
}

th{
	color: yellow;
	font-weight: bolder;
}

td{
	background-color: #03214a;
}

#titanLanding{
	width: 600px;
	height: calc(9*600px/16);
}



