*{
    margin: 0;
    box-sizing: border-box;
}

#contenedor{
    width: 100%;
    height: 100vh;
    border: solid 1px black;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 1rem;
}